on init
    # encryption support
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

service qseecomd /sbin/qseecomd
    class core
    disabled
    user root
    group root system drmrpc
    seclabel u:r:recovery:s0

on property:ro.crypto.state=encrypted
    start qseecomd
